

<p style="text-align:justify">
    Am verificat datele introduse și confirm corectitudinea lor, pe proprie răspundere.
</p>

<p style="text-align:justify">
    În temeiul Legii nr.133/2011 privind protecția datelor cu caracter personal,
    îmi exprim consimțământul pentru prelucrarea datelor cu caracter personal care mă viteazul în scopul acordării unui bilet de tratament balneosanatorial.
</p>