
@*<p style="text-align:justify">
    Am verificat datele introduse şi confirm corectitudinea lor pe propria răspundere.
</p>*@

<p style="text-align:justify">
    În temeiul Legii nr.133/2011 privind protecția datelor cu caracter personal, îmi exprim consimțământul pentru prelucrarea datelor cu caracter personal care mă viteazul
    în scopul eliberării biletelor de tratament sanatorial.
</p>