<div class="card">
    <div class="card-body">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">

                    <p class="text-center"><strong>Util</strong></p>

                    <p>
                        Dreptul la asigurarea cu bilete de tratament sanatorial conform Legii nr.317 din 26.21.2024 cu privire la veteranii de război,
                        îl au cetățenii Republicii Moldova, cu domiciliul permanent în Republica Moldova
                    </p>

                    <p style="text-align:justify">
                        Dreptul la asigurarea cu bilete de tratament sanatorial gratuit în centrele de reabilitare ale
                        Ministerului Muncii și Protecției Sociale și în alte instituții de acest tip, conform indicațiilor
                        medicale și în limitele mijloacelor financiare destinate pentru tratamentul sanatorial veteranilor,
                        incluse în transferurile bugetului de stat la bugetul asigurărilor sociale de stat,
                        îl au persoanele cu dizabilităţi de pe urma războiului
                    </p>

                    <p class="text-center">***</p>

                    <p style="text-align:justify">Prsoanele cu dizabilități de pe urma războiului, conform art.15 alin (3) lit. b) din Legea nr.317 din 26.21.2024 cu privire la veteranii de război – o dată la doi ani;</p>
                </div>
            </div>
        </div>

    </div>
</div>