@model Tratament.Model.Models.Enums.ServiceTypeEnum


@if (Model == Tratament.Model.Models.Enums.ServiceTypeEnum.Disabilities)
{

    <p style="text-align:justify">
        În temeiul Legii nr.133/2011 privind protecția datelor cu caracter personal, îmi exprim consimțământul pentru prelucrarea datelor cu caracter personal care mă viteazul
        în scopul eliberării biletelor de tratament sanatorial.
    </p>
}


@if (Model == Tratament.Model.Models.Enums.ServiceTypeEnum.Veterans)
{

    <p style="text-align:justify">
        În temeiul Legii nr.133/2011 privind protecția datelor cu caracter personal,
        îmi exprim consimțământul pentru prelucrarea datelor cu caracter personal care mă viteazul în scopul eliberării biletelor de tratament sanatorial.
    </p>
}


@if (Model == Tratament.Model.Models.Enums.ServiceTypeEnum.Cernobil)
{
    <p style="text-align:justify">
        În temeiul Legii nr.133/2011 privind protecția datelor cu caracter personal,
        îmi exprim consimțământul pentru prelucrarea datelor cu caracter personal care mă viteazul în scopul acordării unui bilet de tratament balneosanatorial.
    </p>
}



@if (Model == Tratament.Model.Models.Enums.ServiceTypeEnum.PaymentCompensation)
{
   <p style="text-align:justify">
       În temeiul Legii nr.133/2011 privind protecția datelor cu caracter personal,
       îmi exprim consimțământul pentru prelucrarea datelor cu caracter personal care mă viteazul în scopul stabilirii compensației
       bănești în locul biletelor de tratament sanatorial.
   </p>
}

