<div class="card">

    <div class="card-body">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">

                    <p class="text-center"><strong>Util</strong></p>

                    <p>Dreptul la asigurarea cu bilete de tratament balneosanatorial, conform Legii nr.909/1992 privind protecţia socială a cetăţenilor care au avut de suferit de pe urma catastrofei de la Cernobîl, îl au cetățenii Republicii Moldova, care locuiesc în Republica Moldova şi cetățenii altor state, stabiliți cu domiciliul permanent în Republica Moldova, conform acordurilor interstatale, încadrați în categoriile menționate.</p>

                    <p style="text-align:justify">
                        Dreptul la asigurarea cu bilete de tratament sanatorial
                        gratuit în centrele de reabilitare ale Ministerului Muncii și Protecției Sociale și în alte instituții de acest tip,
                        conform indicațiilor medicale și în limitele mijloacelor financiare destinate pentru tratamentul sanatorial al veteranilor,
                        incluse în transferurile bugetului de stat la bugetul asigurărilor sociale de stat, îl au următoarele categoriile
                    </p>

                    <p class="text-center">***</p>

                    <p style="text-align:justify">
                        Dreptul la asigurarea anuală cu bilete gratuite de tratament (în cazul indicaţiilor medicale) în instituţiile
                        balneo-sanatoriale şi în limitele mijloacelor prevăzute în transferurile de la bugetul de stat la bugetul asigurărilor sociale de stat pentru anul respectiv,
                        îl au următoarele categorii de persoane:
                    </p>

                    <ul>
                        <li style="text-align:justify">
                            Persoanele care s-au îmbolnăvit şi au suferit de boală actinică cauzată de avaria de la C.A.E. Cernobîl,
                            precum şi persoanele cu dizabilităţi a căror dizabilitate e în legătură cauzală cu catastrofa de la Cernobîl,
                            conform art.7 al Legii 909/1992;
                        </li>


                        <li style="text-align:justify">
                            Persoanele care s-au îmbolnăvit de boală actinică sau au devenit persoane cu dizabilităţi în urma experienţelor nucleare,
                            avariilor cu radiaţie ionizantă şi a consecinţelor lor la obiectivele atomice civile sau militare,
                            conform art.22 al Legii 909/1992;
                        </li>

                        <li style="text-align:justify">
                            Persoanele care au participat în anii 1986-1987 la lucrările de lichidare a urmărilor avariei de la C.A.E. Cernobîl,
                            în zona de înstrăinare, precum şi militarii, lucrătorii organelor afacerilor interne, supuşii militari recrutaţi în cantonamente speciale,
                            cei care şi-au satisfăcut în această perioadă serviciul în Forţele Armate, în trupele şi organele Comitetului pentru Securitatea Statului,
                            în trupele de interne şi în cele de căi ferate, în alte formaţiuni militare şi care au îndeplinit lucrări de lichidare a urmărilor avariei în cauză în zona
                            de înstrăinare, conform art.8, aliniatul 1 al Legii nr.909/1992;
                        </li>

                        <li style="text-align:justify">
                            Persoanele care au participat în anii 1988-1990 la lucrările de lichidare a urmărilor avariei de la C.A.E. Cernobîl,
                            în zona de înstrăinare, precum şi militarii, lucrătorii organelor afacerilor interne,
                            supuşii militari recrutaţi în cantonamente speciale, cei care şi-au satisfăcut în această perioadă serviciul în Forţele Armatei,
                            în trupele şi organele Comitetului pentru Securitatea Statului, în trupele de interne şi în cele de căi ferate,
                            în alte formaţiuni militare şi care au îndeplinit lucrări de lichidare a urmărilor avariei în cauză în zona de înstrăinare,
                            conform art.8, aliniatul 2 al Legii nr.909/1992;
                        </li>

                        <li>
                            Copiii născuți după 26 aprilie 1986, până la atingerea vârstei de 18 ani,
                            unul din părinții cărora a avut de suferit de pe urma catastrofei de la Cernobîl,
                            precum şi copiilor evacuaţi din zona de înstrăinare, conform art.13 al Legii nr.909/1992.
                        </li>

                    </ul>

                </div>
            </div>

        </div>

    </div>

</div>