<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <p class="text-center"><strong>Util</strong></p>

                    <p style="text-align:justify">
                        Conform prevederilor Legii nr.909/1992 privind protecţia cetăţenilor care au avut de suferit de pe urma catastrofei de la Cernobîl,
                        în cazul în care nu a fost posibilă procurarea şi/sau acordarea biletului conform profilului instituţiei balneosanatoriale recomandate sau există contraindicaţii
                        medicale privind tratamentul balneosanatorial persoanele participante la lichidarea consecinţelor avariei de la C.A.E. Cernobîl
                        şi copii lor au dreptul la o compensaţie bănească în mărimea costului mediu al unui bilet, începînd cu trimestrul doi al anului în curs
                    </p>

                    <p style="text-align:justify">
                        Conform prevederilor Legii nr.909/1992 privind protecţia cetăţenilor care au avut de suferit de pe urma catastrofei de la Cernobîl,
                        în cazul în care nu a fost posibilă procurarea şi/sau acordarea biletului conform profilului instituţiei balneosanatoriale recomandate sau există
                        contraindicaţii medicale privind tratamentul balneosanatorial persoanele participante la lichidarea consecinţelor avariei de la C.A.E. Cernobîl
                        şi copii lor au dreptul la o compensaţie bănească în mărimea costului mediu al unui bilet, începînd cu trimestrul doi al anului în curs
                    </p>

                    <p class="text-center">***</p>

                    <p style="text-align:justify">
                        Mărimea compensaţiei persoanele participante la lichidarea consecinţelor avariei de la C.A.E. Cernobîl
                        se calculează ca preţul mediu al unui bilet estimat din media costului biletelor propuse în ofertele de preţ
                        pentru serviciile de tratament baneosanatorial pentru persoanele adulte, prezentate de către instituţiile balneosanatoriale pentru anul de gestiune,
                        în baza solicitărilor CNAS.
                    </p>

                    <p style="text-align:justify">
                        Mărimea compensaţiei, copiilor persoanele participante la lichidarea consecinţelor avariei de la C.A.E.
                        Cernobîl se calculează în baza grilei de vârste (de la 4 ani până la 7 ani, de la 7 ani până la 14 ani,
                        de la 14 ani până la 18 ani) ca preţul mediu al unui bilet estimat din media costului biletelor propuse în ofertele de preţ
                        pentru serviciile de tratament baneosanatorial pentru copii, prezentate de către instituţiile balneosanatoriale pentru anul de gestiune,
                        în baza solicitărilor CNAS.
                    </p>

                    <p style="text-align:justify">
                        Cuantumul compensaţiei se aprobă anual, prin ordin intern, de către Casa Națională de Asigurări Sociale.
                    </p>

                </div>
            </div>
        </div>
    </div>

</div>