<div class="card">

    <div class="card-body">

        <div class="container">

            <div class="row">
                <div class="col-sm-12">

                    <p class="text-center"><strong>Util</strong></p>

                    <p>Dreptul la asigurarea cu bilete de tratament sanatorial, conform Legii nr.190-XV din 8 mai 2003 cu privire la veterani, îl au cetățenii Republicii Moldova, cu domiciliul permanent în Republica Moldova</p>

                    <p style="text-align:justify">
                        Dreptul la asigurarea cu bilete de tratament sanatorial
                        gratuit în centrele de reabilitare ale Ministerului Muncii și Protecției Sociale și în alte instituții de acest tip,
                        conform indicațiilor medicale și în limitele mijloacelor financiare destinate pentru tratamentul sanatorial al veteranilor,
                        incluse în transferurile bugetului de stat la bugetul asigurărilor sociale de stat, îl au următoarele categoriile
                    </p>

                    <p class="text-center">***</p>

                    <p style="text-align:justify">
                        Veteranii muncii, conform art.9 şi art.16 lit.c) din Legea nr.190/2003 cu privire la veterani,
                        care au fost decorate cu ordine şi medalii sau care s-au învrednicit de titluri onorifice ale Republicii Moldova sau ale fostei U.R.S.S.
                        ori de distincţii departamentale şi au realizat o vechime în muncă de cel puţin 30 de ani femeile şi 35 de ani bărbaţii.
                        Acest drept se extinde şi asupra celor care au realizat o vechime în muncă de cel puţin 35 de ani femeile şi 40 de ani bărbaţii şi care nu cad sub incidenţa art.9,
                        cu excepția persoanelor angajate și a celor care desfăşoară activitate de antreprenoriat sub diferite forme (cu excepția deținătorilor de terenuri agricole),
                        dacă în ultimele șase luni premergătoare lunii în care a fost eliberat biletul nu au desfășurat activitate de întreprinzător – o dată la trei ani;
                    </p>

                    <p class="text-center">***</p>

                    <p style="text-align:justify">
                        Veteranii serviciului militar, conform art.10 şi art.17 din Legea nr.190/2003 cu privire la veterani,
                        care au fost decoraţi cu ordine şi medalii ori care s-au învrednicit de titluri onorifice ale Republicii Moldova sau ale fostei U.R.S.S.
                        ori de distincţii departamentale şi care au dreptul la pensie pentru vechime în serviciu sau pentru limită de vârstă,
                        precum şi militarii care au fost încadraţi în grad de dizabilitate în urma rănirii, contuziei, schilodirii sau a unei afecţiuni contractate
                        în timpul executării serviciului militar. În cazul ieşirii la pensie pentru vechime în muncă sau la împlinirea vârstei care le dă dreptul la
                        pensie pentru limită de vârstă, veteranii menţionaţi obţin şi drepturile stabilite pentru veteranii muncii – o dată la trei ani;
                    </p>


                    <p class="text-center">***</p>

                    <p style="text-align:justify">
                        Veteranii organelor afacerilor interne, ai Centrului Național Anticorupție, ai organelor securității statutului și ai sistemului administrației penitenciare, conform art.11 şi art.17 din Legea nr.190/2003 cu privire la veterani,
                        care au fost decorate cu ordine şi medalii ori care s-au învrednicit de titluri onorifice ale Republicii Moldova sau ale fostei U.R.S.S. sau de distincţii departamentale şi care au dreptul
                        la pensie pentru vechime în serviciu sau pentru limită de vârstă în conformitate cu legislaţia în vigoare, precum şi persoanele
                        care au fost încadrate în grad de dizabilitate în urma rănirii, contuziei, schilodirii sau a unei afecţiuni contractate în timpul exercitării atribuţiilor de serviciu.
                        În cazul ieşirii la pensie pentru vechime în muncă sau la împlinirea vârstei care le dă dreptul la pensie pentru limită de vârstă,
                        veteranii menţionaţi obţin şi drepturile stabilite pentru veteranii muncii– o dată la trei ani;
                    </p>

                </div>
            </div>

        </div>

    </div>

</div>