

<div class="container">

    <div class="row mt-5">
        <div class="col-sm-12">
            <h6>Datale au fost tranisme la cnas</h6>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a asp-action="GeneratePDF" asp-controller="Home" class="btn btn-primary">Genereaza recipisa</a>
        </div>

    </div>


</div>