@model Tratament.Web.ViewModels.SendRequest.SubmitViewModel

<div class="container">

    <div class="row mt-5">
        <div class="col-sm-12">
            <h6>Datale au fost tranisme la cnas</h6>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-12">
            <p>Cereare depusa de catre: @(Model.Idnp)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Tipul Tickhetului: @(Model.TicketType)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Numarul cererii: @(Model.RequestNumber)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p>Data depunerii cererii: @(Model.RequestSubmitDate?.ToShortDateString())</p>
        </div>
    </div>



    <hr />

    <div class="row">
        <div class="col-sm-12">
            <a asp-action="PrintPdfDocument" asp-controller="PrintDocument" class="btn btn-primary">Genereaza recipisa</a>
        </div>

    </div>


</div>