@model Tratament.Web.ViewModels.Error.ErrorViewModel


<div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">

                        <p>@(Model.ErrorText)</p>
                    </div>
                </div>
            </div>
        </div>
</div>