


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>

    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <a href="~/bootstrap/css/bootstrap.min.css.map">~/bootstrap/css/bootstrap.min.css.map</a>


</head>
<body>
    <div>
        @RenderBody()
    </div>


    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <a href="~/bootstrap/js/bootstrap.bundle.min.js.map">~/bootstrap/js/bootstrap.bundle.min.js.map</a>

</body>
</html>